@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 74px;
    bottom: 0;
    left: 100%;
    width: 90%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left, visibility;
  }

  .offcanvas-collapse.open {
    left: 17px;
    visibility: visible;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1440px) and (max-width: 1199px) {
 
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 0px) and (max-width: 767px) {
  .main-menu__top,.main-banner__card{
    grid-template-columns:100%;

  }
}
